In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("1dcnn_folds_0_1_2_3.csv")

In [3]:
data.head()

   target     preds          id
0     1.0  0.441044  00000e74ad
1     0.0  0.129809  00001f4945
2     0.0  0.174554  0000661522
3     0.0  0.165241  00007a006a
4     1.0  0.359953  0000a38978

In [4]:
data = data.drop('target', 1)

In [5]:
data.head()

      preds          id
0  0.441044  00000e74ad
1  0.129809  00001f4945
2  0.174554  0000661522
3  0.165241  00007a006a
4  0.359953  0000a38978

In [6]:
data.rename({'preds': 'target'}, axis=1, inplace=True)

In [14]:
data.head()

           id    target
0  00005bced6  0.994537
1  0000806717  0.938725
2  0000ef4fe1  0.296482
3  00020de251  0.535605
4  00024887b5  0.074211

In [10]:
data.to_csv("new_submit.csv", index=False)

In [13]:
print(len(data))

226000